@import url(./variables.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: var(--fontTitle);
    color: var(--color1);
}

h2 {
    font-family: var(--fontTitle);
    color: var(--color1);
}

p {
    font-family: var(--fontText);
    color: var(--color1);
}

header div {
    text-align: center;
    padding: 5px;
}

label {
    font-family: var(--fontText);
    color: var(--color1);
}