@import url(./variables.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: fixed;
    background-image: image("./storage/img/background.png");
    
}

h1 {
    font-family: var(--fontTitle);
}